@import "tailwindcss";

@theme {
  --color-background: #090d16;
  --color-foreground: #ffffff;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 1rem);
  }
}

html, body {
  scroll-behavior: smooth;
}

/* Hide scrollbar for swipable elements */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
